<h3>Artist name: <%= @artist.name %></h3>


<label>Artist's Songs</label>
<% @artist.songs.each do |song| %>
  <a href="/songs/<%= song.slug %>">
    <li><%= song.name %></li>
  </a>
<% end %>

<label>Artist's Genres</label>
<% @artist.genres.each do |genre| %>
  <a href="/genres/<%= genre.slug %>">
    <li><%= genre.name %></li>
  </a>
<% end %>

