<form action="/songs/<%= @song.slug %>" method="post">
<input type="hidden" name="_method" value="patch">


<label>Name:</label>
<input type="text" name="song[name]" value="<%= @song.name%>">

<label>Artist:</label>
<input type="text" name="artist[name]" value="<%= @song.artist.name %>">

<label>Genre:</label>
<% @genres.each do |genre| %>
  <% if @song.genres.include?(genre) %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genre[id][]" value=<%= genre.id %> checked />
  <% else %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genre[id][]" value=<%= genre.id %> />
  <% end %>
<% end %>



<input type="submit" />
</form>